<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ToDo-List With Vue.js and Bulma</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='bulma.css'>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-1">ToDo-List</h1>
            <div id="app">
                <div class="fields">
                    <div class="control">
                        <label for="to-do">Add To-Do:</label>
                        <p>
                            <input v-model="newtodo" class="input">
                            <br>
                            <br>
                            <button @click="addtodo" class="button is-success">Add ToDo</button>
                        </p>
                        <br>
                        <h2 class="title is-3">ToDo</h2>
                        <ol>
                            <div v-for="(todo, n) in todos">

                                <li class="todo title is-4">{{ todo }}
                                    <button @click="removetodo(n)" class="button is-danger ml-6 px-1"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg></button>
                                </li>
<hr>
                            </div>
                        </ol>
                    </div>
                </div>
    </section>

    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>

</html>